.prvni_blok {
    vertical-align: middle;
}

.grey_background {
    background-color: #f5f5f5;
}

.nadpis {
    font-family: 'Cabin', sans-serif;

}

.text-center {
   text-align:center;
}

.ikona {
    font-size: 50px;
}