<!DOCTYPE html>

<html lang="cs">

<head>
    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- responzivnost mobilního webu-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- můj vlastní CSS styl-->
    <link rel="stylesheet" href="../resources/css/styles.css" type="text/css">

    <!--přidání Bootstrapu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Ikonky -->
    <link rel="stylesheet" href="../resources/css/ionicons.css" type="text/css">
    <meta charset="UTF-8">
    <title>Pavel Petr | IT analytik | Praha</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="index.html">Pavel Petr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle" aria-controls="toggle"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggle">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="projects.html">Projekty</a>
            <a class="nav-item nav-link" href="aboutme.html">Bio</a>
            <a class="nav-item nav-link" href="contact.html">Kontakt</a>
            <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col"></div>
        <div class="col-12">
            <h4>Dovednosti</h4><br>

            <!--carcColumn-->
            <div class="card-deck">
                <div class="card border-dark mb-3">
                    <div class="card-header button">Pokročilý</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title button">Senior IT analytik</h5>
                        <p class="card-text telo">Poslední roky vylepšuji Mobilní banku KB. Pracovní prostředí testuje
                            mé dovednosti analytika a&nbsp;získal jsem zde hodně zkušeností.</p>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header button">Střední</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title button">UML</h5>
                        <p class="card-text telo">Mám znalosti UML, což mi umožňuje číst a&nbsp;vytvářet diagramy v&nbsp;tomto
                            grafickém jazyce. Oblíbeném nástrojem je plantUML.</p>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card border-dark mb-3">
                    <div class="card-header button">Základní</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title button">Java</h5>
                        <p class="card-text telo">Ovládám základy Java. Motivací bylo detailně pochopit fungování logiky
                            aplikací a&nbsp;také možnost naprogramovat si drobné vlastní projekty.</p>
                    </div>
                </div>
                <div class="card border-dark mb-3">
                    <div class="card-header button">Základní</div>
                    <div class="card-body text-dark">
                        <h5 class="card-title button">Datový analýza</h5>
                        <p class="card-text telo">Dovednosti v Pythonu a&nbsp;znalosti statistiky mi umožňují provádět
                            datovou analýzu v Jupyter Lab nebo PyCharm. </p>
                    </div>
                </div>
                <!--KONEC - cardColumn-->
            </div>

            <br>
            <h4>Vzdělání a&nbsp;pracovní zkušenosti</h4><br>
            <p class="telo">Mám více než sedm let zkušeností z&nbsp;finančního sektoru. Od brokerských společností až po
                klasické komerční banky. Nyní pracuji jako business a&nbsp;IT analytik v&nbsp;Komerční bance. Další
                informace najdete na mém <a
                        href="https://www.linkedin.com/pavelpetrcz" target="_blank">Linkedin profilu</a>. Vzdělání jsem
                získal na Vysoké škole ekonomické v&nbsp;Praze a&nbsp;ukončil jsem ho po získáním magisterského titulu.
            </p>

            <br>
            <h4>Když zrovna nepracuji</h4><br>
            <p class="telo">Na prvním místě je moje rodina - tedy moje manželka a dcera. Společné cestujeme a&nbsp;užíváme
                si přírody na turistických stezkách. To je i&nbsp;způsob jak relaxuji. Rekreačné běhám pro radost.</p>
        </div>
        <div class="col"></div>

    </div>
</div>
</body>

</html>
