  <!DOCTYPE html>

  <html lang="cs">

  <head>
    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- responzivnost mobilního webu-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- můj vlastní CSS styl-->
    <link rel="stylesheet" href="../resources/css/styles.css" type="text/css">

    <!--přidání Bootstrapu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Ikonky -->
    <link rel="stylesheet" href="../resources/css/ionicons.css" type="text/css">

    <meta charset="UTF-8">
    <title>Pavel Petr | IT analytik | Praha</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="index.html">Pavel Petr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle" aria-controls="toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggle">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="projects.html">Projekty</a>
          <a class="nav-item nav-link" href="aboutme.html">Bio</a>
          <a class="nav-item nav-link" href="contact.html">Kontakt</a>
          <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">

        <div class="col-2"></div>
        <div class="col-8 text-left my-3">
          <a href="blog.html" class="btn btn-outline-primary">Zpět</a>
          <br><br><br>

          <!--Blog post start-->
          <h2><b>Spuštění více aplikací najednou ve Windows</b></h2>
          <br>
          <img src="../resources/img/silvana-amicone-aCHBgtcE7D8-unsplash.jpg" width="100%">
          <br>
          <br>
          <p>Rutina je proklínaná, ale přesto se k&nbsp;ní s&nbsp;chutí, po období neustálých změn, rádi vracíme.</p>
          <p>Po příchodu na své pracovní místo si jistě řada z&nbsp;nás musí spustit sadu programů a&nbsp;aplikací, abychom mohli bez potíží efektivně pracovat. Do rozumného počtu je to snadné mít zástupce na ploše nebo v&nbsp;nabídce Start či je
            startovat vyhledáváním v nabídce Start.</p>

          <p>Pak ale dosáhnete do bodu, kdy je nadbytečného klikání příliš a&nbsp;pocítíte potřebu s&nbsp;tím něco udělat. To se stalo mně. Proto jsem sondoval možnosti spuštění více aplikací najednou.</p>
          <h5><b>.bat skripty</h5></b>

          <p>Odpovědí mi právě byly .bat skripty, díky kterým si spustím na jedno kliknutí výčet aplikací, které používám de facto každý den po celou pracovní dobu:</p>
          <ul>
            <li>MSFT Outlook - e-mailový klient</li>
            <li>Slack - komunikátor</li>
            <li>MSFT Teams - komunikátor</li>
            <li>Outlook Google Calendar Sync - mimochodem naprosto fantastický pomocníček</li>
          </ul>

          <script src="https://gist.github.com/pavelpetrcz/1588e42f35c34156c28c619cb2ede8e5.js"></script>
          <br>
          <p>Vy si samozřejmě můžete dosadit jiné aplikace, které potřebujete spouštět. Následně stačí soubor v&nbsp;textovém editoru “Uložit jako… “ soubor s&nbsp;příponou *.bat, který následně stačí například spustit z&nbsp;příkazové řádky.</p>

          <p>Já si na daný soubor vyrobil ještě zástupce na ploše, který jsem si nakonec ještě upravil tak, že jsem jej nakopíroval do složky C:\Users\username\AppData\Roaming\Microsoft\Windows\Start Menu\Programs.</p>

          <p>Otevřete Start, napište “Spustit” a&nbsp;vložte následující cestu %AppData%\Microsoft\Windows\Start Menu\Programs do řádky a&nbsp;stiskněte OK. Příslušná složka by se měla otevřít. Přesuňte sem zástupce.</p>

          <p>Po restartu systému by již měl být zástupce k&nbsp;nalezení a&nbsp;je možné si jej připnout na Start.</p>

          <p>Třešničkou na dortu je možnost vyměnit ikonku zástupce ve formátu *.ico za libovolnou. Na internetu najdete celou řadu stránek nabízející zdarma ikony v&nbsp;tomto formátu. Stačí prohledat internet a&nbsp;vybrat si.</p>
          <h5><b>Pozor na aplikace z Windows Store</h5></b>

          <p>Nenašel jsem možnost jak z&nbsp;*.bat souborů spouštět aplikace instalované prostřednictvím Windows Store. Proto vám doporučuji doinstalovat si raději Chocolatey a software instalovat prostřednictví tohoto balíčkovacího systému.</p>


          <!--Blog post end-->
        </div>


        <div class="col-2"></div>
      </div>
    </div>

    <!--START - bottom pane-->
    <div class="container">
      <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col-8 text-center my-3"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <!--END - bottom pane-->

  </body>

  </html>
