<!DOCTYPE html>

<html lang="cs">

<head>
  <!-- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- responzivnost mobilního webu-->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- muj CSS styl-->
  <link rel="stylesheet" href="../../../resources/css/styles.css" type="text/css">

  <!-- Bootstrapu-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!-- Ikonky -->
  <link rel="stylesheet" href="../../../resources/css/ionicons.css" type="text/css">

  <meta charset="UTF-8">
  <title>Pavel Petr | IT analytik | Praha</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="index.html">Pavel Petr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle" aria-controls="toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggle">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="projects.html">Projekty</a>
        <a class="nav-item nav-link" href="aboutme.html">Bio</a>
        <a class="nav-item nav-link" href="contact.html">Kontakt</a>
        <a class="nav-item nav-link" href="blog.html">Blog</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">

      <div class="col-2"></div>
      <div class="col-8 text-left my-3">
        <a href="blog.html" class="btn btn-outline-primary">Zpět</a>
        <br><br><br>

        <!--Blog post start-->
        <h2><b>Mandays - moje první webová aplikace v&nbsp;Javě a&nbsp;povzbuzení pro ty, co taky po večerech ťukají pro radost</b></h2>
        <br>
        <img src="../../../resources/img/davide-ragusa-RTivRcYz1Bw-unsplash.jpg" width="100%">
        <br>
        <br>

        <p>Trvalo mi to opravdu dlouho - více než 2 roky s&nbsp; přestávkami novopečeného tatíka, ale světlo světa spatřila první aplikace, kterou jsem spustil a&nbsp;nezůstane jen v&nbsp;šuplíku.</p>

        <p>Předcházely jí jiné drobné projekty a&nbsp;úkoly, které jsem plnil při samostudiu. Až přišel okamžik, kdy jsem potřeboval trochu víc než jen, že kus kódu sčítá dvě čísla a&nbsp;pak kontroluje, jestli je nebo není prvočíslem.</p>

        <p>Chtěl jsem něco uceleného, co bude dávat smysl a&nbsp;bude mít nějaký účel.</p>

        <p>Jednoho dne mě fakt vytočilo, jak otravné je hledání toho správného řádku a&nbsp;sloupce v&nbsp;plánovacím kalendáři.</p>

        <p>A&nbsp;tehdy jsem si asi za 3 hodiny zbastlil počítačku pracovních dnů a&nbsp;hodin v&nbsp;Excelu. Dodnes hodnoty těchto výpočtů tvoří základ celé appky. Jsou jimi hodnoty pro jednotlivé měsíce na 50 let dopředu. Nakonec jsem si řekl, co
          okolo toho nevyrobit GUI a&nbsp;k&nbsp;tomu jednoduché API pro strojový přístup. Tak vznikla myšlenka Mandays.</p>

        <p>Výsledek můžete posoudit na <a href="https://mandayscz.herokuapp.com/" target="_blank">https://mandayscz.herokuapp.com/</a></p>

        <p><i>P.S. - appka se po 30 minutách nečinnosti "uspí", pak déle trvá, než nastartuje. Buďte trpěliví.</i></p>
        <h5><b>Technologie</h5></b>

        <p>Aplikaci jsem napsal v&nbsp;Java 8. Co stojí za zmínku je, že jsem se vydal složitější cestou. Nepoužil jsem vůbec Spring. Používám spíš věci podle standardu EE Javy. Takže třeba API na Spring Boot bych měl za 2 hodiny, ale s&nbsp;Jersey
          mi to
          trvalo déle. Zase na druhou stranu vím trochu více o&nbsp;fungování uvnitř. Spring hodně věcí odstiňuje, což je skvělé když víte, co děláte. Když se učíte, tak je lepší vidět, jak věci makají. A&nbsp;o&nbsp;to mi šlo.</p>

        <p>Databáze běží na PostgreSQL. Tam nebylo příliš moc co řešit. Na projektu máme Oracle a&nbsp;ten je tomu dost podobný, takže jsem použil to, co mi bylo známé.</p>

        <p>Front-end je kombinace HTML, CSS, Bootstrap a&nbsp;k&nbsp;rozpohybování slouží stařičké JSP. Ano, JSP a&nbsp;jen z důvodů vzdělávacích - viz výše.</p>
        <h5><b>Co jsem se naučil</h5></b>
        <ul>
          <li>Nevím, jestli je to málo kuráže, ale naučil jsem se, že programátor ze mě nebude - smutné, ale svět není fér, někomu to jde a&nbsp;někomu to "sakra" teda jde - já jsem spíš v&nbsp;té první skupině.</li>
          <li>Naučil jsem se strašně moc o&nbsp;běžné praxi programátorů, jejich potřebách a&nbsp;v&nbsp;neposlední řadě způsobu uvažování, takže v praxi analytika je pro mě snazší si představit, co má být v&nbsp;zadání.</li>
          <li>Určitě jsem si odnesl hodně o&nbsp;objektovém paradigmatu, to se hodí v obecné rovině, protože je to zatím stále mainstreamové pojetí programování dnešních dnů, ač se sem tlačí další styly.</li>
          <li>Zjistil jsem, že to je fakt dřina a&nbsp;zároveň zábava - takže komu to jde, jděte do toho po hlavě.</li>
          <li>Houževnatost - to je k nezaplacení. Když mi něco nešlo, tak jsem to na 14 dnů odložil, nebo jsem otravoval svoje seniorní kamarády a&nbsp;kolegy, nebo jsem sjížděl návody, tutoriály, stackOverflow, dokud jsem prostě to co mi nefungovalo
            neopravil nebo nezprovoznil.</li>
          <li>Číst pozorně ano, zní to jako trivialita - doba vybízí ke skenování textu, hledání rychlých řešení, bohužel někdy jsem něco nemohl rozběhat, jenom protože jsem přeskočil pár, na první pohled, zbytečných odstavců návodu nebo
            dokumentace.</li>
        </ul>
        <h5><b>Co bych dělal už jinak</h5></b>
        <ul>
          <li>Nepsal bych to v&nbsp;Javě, ale v&nbsp;Pythonu - je to ideální volba pro analytiky, kdyby nevyšlo programování (jako mně). Aspoň bych měl super základy pro skripty datového analytika, která dneska frčí dost v&nbsp;Pythonu. Na druhou
            stranu, Python
            a&nbsp;Java není jako čeština a&nbsp;čínština. Je to spíš něco jako polština a čeština. Spousty věcí bude podobných, jen se to píše jinak.</li>
          <li>Programovat každý den - nemusíte napsat každý den spoustu kódu, stačí si udržet v&nbsp;hlavě to, čeho se vlastně snažíte docílit. Občas jsem bohužel vypadnul z&nbsp;rytmu i&nbsp;třeba na měsíce. A&nbsp;to pak bolí si vzpomenout, jak
            jsem to měl
            namyšlené. Navíc když si vytvoříte návyk, tak pak si i&nbsp;využívané techniky a&nbsp;řešení osvojíte a&nbsp;pěkně zapamatujete.</li>
          <li>Víc bych spal - není nic moc spát 5 - 6 hodin a&nbsp;myslet si, že vymyslíte druhý Facebook. Produktivita a&nbsp;výkon potřebují zdroje - pro lidi to je jídlo a&nbsp;spánek. S tím, že od mých 30 let začíná spánek hrát prim v&nbsp;tom,
            jak mi něco další
            den půjde.</li>
        </ul>
        <h5><b>Vzdělání</h5>
        </b>

        <p>Pro povzbuzení musím říct, že jsem čerpal v&nbsp;drtivé většině z&nbsp;volně dostupných zdrojů.</p>

        <p>Začal jsem sám jako samouk na ITnetwork.cz a&nbsp;jel jsem jeden tutoriál za druhým. Udělal jsem jich asi 30 nebo 40 a&nbsp;zasekl jsem se.</p>

        <p>Tou dobou se v&nbsp;Inventi otevírala Java pro začátečníky, tak jsem se přihlásil. Pokračoval jsem rovnou do Java pro pokročilé. Už v té době jsem psal tuto malou aplikaci. Čerpal jsem i&nbsp;z&nbsp;oficiální dokumentace Oracle, kterou
          jsem také občas
          využil.</p>

        <p>No a pak už jsem se víceméně hodně ptal a&nbsp;ptal - jak kolegů, tak strýčka Googla.</p>
        <h5><b>Poděkování</h5></b>

        <p>Pomohla mi spousta lidí, kterým patří velký dík:</p>
        <ul>
          <li>předně moje manželka - která viděla rozsypaný čaj a&nbsp;přesto mě podporovala,</li>
          <li>lektorům v Inventi, kteří se starají o&nbsp;běh Java kompetence za jejich lekce,</li>
          <li>Petrovi Hákovi za podporu sebevzdělávání,</li>
          <li>Pavlovi Horovi a&nbsp;Kubovi Novotnému - za trpělivé odpovědi na nejapné otázky.</li>
        </ul>
        <!--Blog post end-->
      </div>
      </ div>
    </div>
    <div class="col-2"></div>
  </div>
  </div>

  <!--START - bottom pane-->
  <div class="container">
    <div class="row mb-3">
      <div class="col-2"></div>
      <div class="col-8 text-center my-3"></div>
      <div class="col-2"></div>
    </div>
  </div>
  <!--END - bottom pane-->

</body>

</html>
