  <!DOCTYPE html>

  <html lang="cs">

  <head>

    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- responzivnost mobilního webu-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- můj vlastní CSS styl-->
    <link rel="stylesheet" href="../resources/css/styles.css" type="text/css">

    <!--přidání Bootstrapu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Ikonky -->
    <link rel="stylesheet" href="../resources/css/ionicons.css" type="text/css">

    <meta charset="UTF-8">
    <title>Pavel Petr | IT analytik | Praha</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="index.html">Pavel Petr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle" aria-controls="toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggle">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="projects.html">Projekty</a>
          <a class="nav-item nav-link" href="aboutme.html">Bio</a>
          <a class="nav-item nav-link" href="contact.html">Kontakt</a>
          <a class="nav-item nav-link" href="blog.html">Blog</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">

        <div class="col-2"></div>
        <div class="col-8 text-left my-3">
          <a href="blog.html" class="btn btn-outline-primary">Zpět</a>
          <br><br><br>

          <!--Blog post start-->
          <h2><b>Generátor QR plateb v Excelu</b></h2>
          <br>
          <img src="../resources/img/rafael-de-nadai-b0eg-PYGICQ-unsplash.jpg" width="100%">
          <br>
          <br>
          <p>Řada online nástrojů poskytuje online tvorbu faktur. Někdo si už ovšem na&nbsp;tvorbu faktur zvyknul v&nbsp;Excelu, ale přesto by rád obohatil svoje faktury o&nbsp;zúčtovací údaje formou QR platby. Pak nezbývá než si vyhrnout obrazně řečeno rukávy a&nbsp;pustit se do úprav VBA kódu a&nbsp;Excelové faktury.</p>

          <p>Já jsem také jeden z&nbsp;těch, který generuje faktury “postaru” v&nbsp;Excelu. Někteří sice možná namítnou, že to za tu námahu nestojí. Já s&nbsp;tím v&nbsp;podstatě souhlasím. Zase na druhou stranu bych z&nbsp;toho neměl takový pocit. Druhým důvodem je, že už jsem na to zvyklý, takže mi to vlastně ani nepřijde složité. Vím přesně, kde mám kliknout.</p>

          <p>K&nbsp;sestavení budete potřebovat:</p>
          <ul>
            <li>Excel</li>
            <li>VBA</li>
            <li>API QRplatba.cz</li>
          </ul>
          <h5><b>Excel</h5></b>

          <p>Základem mého Excelu jsou dva listy - první s&nbsp;finální fakturou. Druhý list je jakýsi config pro změnu variabilních symbolů, částek, datumů a&nbsp;podobných náležitostí faktury.</p>

          <p>Pro generování QR kódů se zúčtovacími údaji využívám volně dostupné API — https://qr-platba.cz/pro-vyvojare/restful-api/ kde si můžete nastudovat skladbu HTTP requestu pro vygenerování QR kodu.</p>

          <code>https://api.paylibo.com/paylibo/generator/czech/image?&accountNumber=1234567890&bankCode=2010&amount=100&currency=CZK&vs=6</code>
          <br>
          <p>Já jsem jednotlivé části adresy rozřezal do různých buňěk, pak je sestavuji pomocí funkce CONCATATE do jedné buňky.</p>
          <h5><b>VBA skript</h5></b>

          <p>To nejdůležitější se odehrává v&nbsp;editoru maker. Přístup k&nbsp;němu je možný přes klávesovou zkratku: <code>Levý alt + F11</code>.</p>

          <p>Z&nbsp;nabídky “Insert” vyberte položku “Module”. Do otevřeného okna uložte daný skript pod libovolným jménem. Upravte odkud má skript načíst adresu API viz komentář v&nbsp;těle skriptu. To je vše.</p>
          <script src="https://gist.github.com/pavelpetrcz/01e4110701fc20581bd50b62178ada5d.js"></script>
          <h5><b>Tlačítko v Excelu</h5></b>

          <p>Pro pohodlné fungování jsem si vyrobil tlačítko v&nbsp;Excelu. Stačí si vyrobit libovolné tlačítko a&nbsp;přiřadit mu funkcionalitu spouštění skriptu pro stažení obrázku s&nbsp;QR kodem. Výsledek si může prohlédnout níže.</p>
          <iframe width="100%" height="315px" src="https://www.youtube.com/embed/LonbIpXejwU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>Následně je potřeba upravit jen vstupní parametry faktury, stiknout tlačítko a&nbsp;přenést QR kod ručně do faktury — otázka na 20 sekund a&nbsp;vaše protistrana vás bude zbožňovat.</p>

          <h5><b>Zdroje</h5></b>
          <ul>
            <li><a href="https://qr-platba.cz/" target="_blank">https://qr-platba.cz/</a></li>
            <li><a href="https://stackoverflow.com/questions/58992154/vba-code-for-generating-qr-codes-but-where-does-the-code-begins" target="_blank">https://stackoverflow.com/questions/58992154/vba-code-for-generating-qr-codes-but-where-does-the-code-begins</a></li>
            <li><a href="https://www.extendoffice.com/documents/excel/5404-excel-create-qr-code.html" target="_blank">https://www.extendoffice.com/documents/excel/5404-excel-create-qr-code.html</a></li>
          </ul>
          <!--Blog post end-->
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    </div>
    </div>

    <!--START - bottom pane-->
    <div class="container">
      <div class="row mb-3">
        <div class="col-2"></div>
        <div class="col-8 text-center my-3"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <!--END - bottom pane-->

  </body>

  </html>
