<!DOCTYPE html>

<html lang="cs">

<head>

    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- responzivnost mobilního webu-->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- můj vlastní CSS styl-->
    <link rel="stylesheet" href="resources/css/styles.css" type="text/css">

    <!--přidání Bootstrapu-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Pavel Petr | IT analytik | Praha</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}">P.P.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="#navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'contact' %}">Kontakt</a>
            <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
        </div>
    </div>
</nav>

<div class="container prvni_blok mt-5">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <br>
                <br>
                <br>
                <p>
                    <i>Dobrý den.</i>
                </p>
                <p>
                    <h1>Jsem <u>Pavel Petr</u>!<br>IT analytik, který pomáhá aplikacím na svět. </h1>
                </p>
                <br>
                <br>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
</body>

</html>
